{% extends 'base.html' %}
{% load portfolio_filters %}
{% load import_tags %}

{% block content %}
    <div id="project-detail-outer">
        <div id="color-bar" class="{{ project.get_hover_color }}">
            <a href="{% url 'home' %}"><i class="icon-remove"></i></a>
        </div>

        <div class="left">
            <div id="gallery">

                <div class="main-image">
                    <img src="{{ project.get_first_picture.picture.url }}">
                </div>

                <div class="thumbnails">
                {% for img in project.pictures.all|slice:":6" %}
                    <img src="{{ img.picture.url }}">
                {% endfor %}
                </div>

            </div>
        </div>

        <div class="right">
            <h1 class="title">
                {{ project.name }}
            </h1>
            <h2 class="subtitle">{{ project.get_tag_string }}</h2>

            {% if project.url %}
                <h2 class="url"><a href="{{ project.url }}" target="_blank">{{ project.url }}</a></h2>
            {% endif %}

            {{ project.description|description_split }}
        </div>

        <div id="pagination">

        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {% import_js "/compiled/detail-gallery" %}
{% endblock %}