{% extends 'base.html' %}
{% load portfolio_filters %}
{% load import_tags %}

{% load thumbnail %}

{% block content %}
    <div id="project-detail-outer">
        <div id="color-bar" class="{{ project.hover_color }}">
            <a href="{% url 'home' %}"><i class="icon-remove"></i></a>
        </div>

        <div class="left">
            <div id="gallery">

                <div class="main-image">
                {% for img in project.pictures.all %}
                    <a href="{{ img.picture.url }}" data-lightbox="gallery">
                        {% thumbnail img.picture "550x350" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-picture-id="{{ img.id }}" class="{% if forloop.first %}active{% endif %}">
                        {% endthumbnail %}
                    </a>
                {% endfor %}
                </div>

                <div class="thumbnails">
                {% for img in project.pictures.all|slice:":3" %}
                    {% thumbnail img.picture "160x100" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-picture-id="{{ img.id }}">
                    {% endthumbnail %}
                {% endfor %}
                </div>

            </div>
        </div>

        <div class="right">
            <div class="info">
                <div class="left">
                    <h1 class="title">
                        {{ project.name }}
                    </h1>
                    <h2 class="subtitle">{{ project.get_tag_string }}</h2>
                </div>
                <div class="links">
                {% for link in project.links.all|slice:":3" %}
                    {{ link.render }}
                {% endfor %}
                </div>
            </div>



            {{ project.description|description_split }}
        </div>

{#        <div id="pagination">#}
{##}
{#        </div>#}

    </div>
{% endblock %}

{% block extra_css %}
    {% import_css "lightbox/lightbox" %}
{% endblock %}

{% block extra_js %}
    {% import_js "lightbox/lightbox-2.6" %}
    {% import_js "compiled/detail-gallery" %}
{% endblock %}