{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

    <h2 class="grid-title">Web + App Development</h2>

    <div id="grid">
        {% for project in object_list %}
            <div class="portfolio-item" data-project-id="{{ project.id }}">
                {% thumbnail project.thumbnail "410x230" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-picture-id="{{ img.id }}">
                {% endthumbnail %}

                <div class="hover {{ project.get_hover_color }}">
                    <h3 class="project-name">{{ project.name }}</h3>
                    <h4 class="project-short-desc">{{ project.get_tag_string }}</h4>
                    <a class="view-project" href="{{ project.get_url }}">more <i class="icon-angle-right"></i></a>
                </div>
            </div>
        {% endfor %}

        <div class="portfolio-item-placeholder"></div>
        <div class="portfolio-item-placeholder"></div>
        <div class="portfolio-item-placeholder"></div>

    </div>

    {% if num_pages > 1 %}
        <div id="pagination">
            <ul class="links">
                <li><a href="{% url 'home_paginated' page=prev_page %}">../</a></li>
                {% for page in page_list %}
                    <li><a href="{% url 'home_paginated' page=page %}" {% if page == current_page %}class="active"{% endif %}>{{ page }}</a></li>
                {% endfor %}
                <li class="next_page_link"><a href="{% url 'home_paginated' page=next_page %}">../</a></li>
            </ul>
        </div>
    {% endif %}


{% endblock %}