@import "variables";
@import 'mixins';

h2.grid-title {
	text-transform: uppercase;

	font-family: 'Alternate Gothic';
	font-size: 35px;
	font-weight: normal;

	color: @light-gray;

	margin: 40px 0;
}

#grid {
	width: 100%;

	text-align: justify;

	.portfolio-item {
		width: 410px;
		height: 230px;

		display: inline-block;
		position: relative;

		margin-bottom: 20px;

		border: @light-gray solid 1px;

		&:hover .hover {
			.opacity(1.0)
		}

		.hover {
			display: block;
			.opacity(0.0);
			.transition(0.5s, ease);

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			overflow: hidden;

			text-align: center;

			&.purple { background: @purple; }
			&.red { background: @red; }
			&.blue { background: @blue; }
			&.green { background: @green; }
			&.orange { background: @orange; }

			div.centered {
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
			}

			div.not-centered {
				h3.project-name {
					margin-top: 40px;
				}
			}

			h3.project-name {
				color: #FFF;

				font-size: 40px;
				font-weight: normal;
				text-transform: uppercase;

				margin: 0px 0 0 0;
			}

			h4.project-tags {
				color: #FFF;

				font-family: Times;
				font-style: italic;
				font-weight: normal;
				font-size: 20px;

				margin: 10px 0;
			}

			h4.project-link-icons {
				color: #FFF;
				font-size: 25px;

				margin: 10px 0;

				i {
					margin: 0 5px;
				}

				a, a:visited, a:hover {
					color: #FFF;
					text-decoration: none;
				}
			}

			a.view-project {
				color: #FFF;

				text-decoration: none;
				font-family: 'Alternate Gothic';
				font-size: 32px;
				font-weight: normal;

				i {
					font-size: 25px;
				}
			}

		}
	}

	.portfolio-item-placeholder {
		width: 410px;
		height: 0px;

		display: inline-block;
	}

}

#pagination {

	text-align: center;

	ul.links {
		list-style: none;

		padding: 0;
		margin: 0;

		display: inline-block;
		overflow: hidden;

		li {
			float: left;

			margin: 0 5px;

			a {
				color: @light-gray;
				text-decoration: none;

				font-family: 'Alternate Gothic';
				font-weight: normal;
				font-size: 30px;

				&.active {
					color: @dark-gray;
					font-weight: bold;
				}

			}

			&.next_page_link {
				.rotation(180deg);
			}


		}
	}
}