@import "variables";
@import 'mixins';
@import "fonts";

#project-detail-outer {
	display: block;
	width: (@wrap-width - 6);
	height: 625px;
	overflow: hidden;
	position: relative;

	margin: 20px auto;

	border-width: 3px;
	border-color: @light-gray;
	border-style: solid;

	div#color-bar {
		width: 100%;
		height: 50px;

		margin-bottom: 50px;

		&.purple { background: @purple; }
		&.red { background: @red; }
		&.blue { background: @blue; }
		&.green { background: @green; }
		&.orange { background: @orange; }

		a, a:visited, a:hover {
			color: #FFF;
			text-decoration: none;
			font-size: 40px;
			line-height: 50px;

			margin-right: 10px;
			float: right;
		}
	}

	div.right {
		display: block;
		width: 50%;
		float: right;
		overflow: hidden;

	}

	div.left {
		display: block;
		width: 50%;
		float: left;
	}

	div.info {
		overflow: hidden;
		clear: both;
		height: 105px;

		margin-bottom: 20px;

		position: relative;

		div.left {width: auto;}

	}

	h1.title {
		font-size: 60px;
		font-weight: normal;

		margin: 0;
	}

	h2.subtitle {
		font-family: 'Times';
		font-weight: normal;
		font-style: italic;
		font-size: 20px;

		margin-bottom: 0px;
	}

	div.links {
		width: auto;
		margin-right: 20px;

		position: absolute;
		bottom: 0;
		right: 0;

		h2.url {
			font-family: 'Times';
			font-weight: normal;
			font-style: italic;
			font-size: 20px;

			margin: 10px 0;

			a, a:visited, a:hover {
				color: @dark-gray;

				text-decoration: none;
			}

		}
	}

	p.desc {
		font-size: 14px;
	}

	#gallery {
		.main-image {
			width: 550px;
			height: 350px;
			// Height makes sure the thumbnails don't move when bigger images are selected
			margin: auto;

			img {
				display: none;
				margin: auto;
				max-width: 550px;
				max-height: 350px;

				&.active {
					display: block;
				}
			}
		}

		.thumbnails {
			margin-top: 50px;
			padding: 0 20px;

			text-align: center;


			img {
				max-width: 160px;
				max-height: 100px;
				display: inline-block;

				cursor: pointer;

				margin: 0 10px;

				border: @light-gray solid 1px;
			}
		}
	}

	#pagination {
		height: 50px;
		width: 100%;
		display: block;

		position: absolute;
		bottom: 0;
	}
}