@import "variables";
@import "fonts";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;

	font-family: Times;
	color: @light-gray;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Alternate Gothic'; color: @dark-gray}

@import 'header';

div.wrap {
	width: 1280px;
	margin: auto;

	overflow: hidden;
}

span.light-gray {
	color: @light-gray;
}

div.left { float: left; }
div.right { float: right; }




