{% load import_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Coreyja.com</title>

    {% import_css "styles" %}
    {% import_css "FontAwesome/font-awesome" %}

    {% block extra_css %}{% endblock %}

</head>
<body>



    {% include 'header.html' %}

    <div class="wrap">
        {% block content %}

        {% endblock %}
    </div>

    {% include 'footer.html' %}

    {% if debug %}
        <script src="/static/js/jquery-2.0.3.js" type="text/javascript"></script>
    {% else %}
         <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% endif %}

    {% import_js 'compiled/common' %}

    {% block extra_js %}{% endblock %}

</body>
</html>