<div id="about-me">
    <div class="wrap">
        <div class="left">
            <img id="profile-pic" src="/static/imgs/profile-pic.png">
        </div>
        <div class="right">
            <h1 class="name">Corey J Alexander</h1>

            <p class="desc">
                Hey, how's it going? I'm Corey. I'm currently a Junior at Rose-Hulman Institute of Technology studying Computer Science, Software Engineering,
                Mathematics and Economics. But really I'm just a web developer. I've been doing web development for about 4 years now. This site
                is mostly my portfolio of projects I have worked on, so go check it out. Go on. The rest of this section isn't very exciting, I promise.
            </p>
            <p class="desc">
                Why are you still reading this?
            </p>
            <p class="desc">Man you don't give up do you? Scroll down and check out my projects already!
                Or, since you apparently don't want to see my projects, shoot me an email, and we can chat
                about programming, life or whatever is on your mind.
            </p>

            <div class="links">
                <a href="//github.com/coreyja" target="_blank"><i class="icon-github"></i></a>
                <a href="mailto: coreyja@gmail.com" target="_blank"><i class="icon-envelope-alt"></i></a>
            </div>
        </div>
    </div>
    <hr />
</div>

<div id="header">

    <div class="wrap">
        <div class="left">
            <a href="/"><h1 id="title"><span class="light-gray">../</span>COREY<span class="light-gray">JA</span></h1></a>
            <h2 id="tag-line">complex to simple</h2>
        </div>

        <div class="right">
            <h3 id="about-link">About Me <i class="icon-angle-down"></i></h3>
        </div>

    </div>

    <div class="colors-bar">
        <span class="red"></span>
        <span class="purple"></span>
        <span class="green"></span>
        <span class="orange"></span>
        <span class="blue"></span>
    </div>
</div>