<div id="header">

    <div class="wrap">
        <div class="left">
            <a href="/"><h1 id="title"><span class="light-gray">../</span>COREY<span class="light-gray">JA</span></h1></a>
            <h2 id="tag-line">complex to simple</h2>
        </div>

        <div class="right">
            <h3 id="about-link"><a href="#">About Me <i class="icon-angle-down"></i></a></h3>
        </div>

    </div>

    <div class="colors-bar">
        <span class="red"></span>
        <span class="purple"></span>
        <span class="green"></span>
        <span class="orange"></span>
        <span class="blue"></span>
    </div>
</div>