{% load import_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Resume - Coreyja</title>

    {% import_css "styles" %}
    {% import_css "FontAwesome/font-awesome" %}

</head>
<body id="resume">
    <div class="wrap">
        <div class="left">
            <h1 id="name">Corey Alexander</h1>
        </div>
        <div class="right">
            <h1 id="title"><span class="light-gray">../</span>COREY<span class="light-gray">JA</span></h1>
            <h2 class="subtitle">coreyja.com</h2>
        </div>
    </div>
    <div class="colors-bar">
        <span class="red"></span>
        <span class="purple"></span>
        <span class="green"></span>
        <span class="orange"></span>
        <span class="blue"></span>
    </div>

    <div id="contact-info" class="wrap">
        <div class="contact-block">
            <h2 class="title">Email</h2>
            <h2>coreyja@gmail.com</h2>
        </div>

        <div class="contact-block">
            <h2 class="title">Phone</h2>
            <h2 class="contact-info">(720) 771-0574</h2>
        </div>

        <div class="contact-block">
            <h2 class="title">Address</h2>
            <h2 class="contact-info" id="address">1711 Heritage Lane East<br>Terre Haute, IN 47803<br></h2>
        </div>
    </div>

    <div id="work-experience" class="wrap">
        <h1 class="title">Work Experience</h1>

        <div class="experience">
            <div class="info">
                <div class="top-info">
                    <span class="job-title">Consulting Intern</span>
                    <span class="company-name">West Monroe Partners</span>
                    <span class="time">Summer 2014</span>
                </div>
                <div class="description">
                    Worked with a team of consultants on multiple client projects<br>
                    Personally rewrote the HTML/CSS templates for a client .NET application as well as created a mobile version of their site, with both iOS and Android native wrappers<br>
                    Debugged and added features to a client's legacy Visual Basic web application
                </div>
            </div>
        </div>

        <div class="experience">
            <div class="info">
                <div class="top-info">
                    <span class="job-title">Freelance Web Developer</span>
                    <span class="company-name"> </span>
                    <span class="time">Aug 2010 - Present</span>
                </div>
                <div class="description">
                    Worked as a developer on many different websites and webapps using a variety of tools<br>
                    For a complete portfolio of projects visit coreyja.com<br>
                    Some of the languages/tools used include: HTML5, CSS3, Django, jQuery and Wordpress<br>
                </div>
            </div>
        </div>

        <div class="experience">
            <div class="info">
                <div class="top-info">
                    <span class="job-title">Junior Developer</span>
                    <span class="company-name">Giftovus</span>
                    <span class="time">Summer 2013</span>
                </div>
                <div class="description">
                    Worked as a web developer on the Giftovus team.<br>
                    Familiar with and coded for the both frontend and backend of the Giftovus web app: giftovus.com<br>
                    Wrote code that was shipped in the live app: Python with Django and Javascript<br>
                    Gained experience working in a startup environment<br>
                </div>
            </div>
        </div>

        <div class="experience">
            <div class="info">
                <div class="top-info">
                    <span class="job-title">Intern</span>
                    <span class="company-name">Centaur Technology</span>
                    <span class="time">Summer 2010</span>
                </div>
                <div class="description">
                    Tested hardware, aimed at finding CPU bugs<br>
                    Wrote automated programs to detect hardware bugs<br>
                    Developed programs dealing with the encoding and decoding of MSR and CPUID values<br>
                </div>
            </div>
        </div>


    </div>

    <div id="education" class="wrap">
        <h1 class="title">Education</h1>

        <div class="info">
            <div class="top-info">
                <span class="job-title">Rose-Hulman Institute of Technology</span>
                <span class="company-name">CS/SE/MA</span>
                <span class="time">Class of 2015</span>
                <hr>
                <span class="status">Status: Senior</span>
                <span class="graduation">Graduation: May 2015</span>
                <span class="gpa">Overall GPA: 3.12</span>
            </div>
            <div class="description">
                Pursuing a Bachelors of Science Triple Major in Computer Science, Software Engineering and Mathematics
            </div>
        </div>
    </div>


</body>
</html>