{% extends 'base.html' %}

{% block content %}

    <p class="not-ready">
        This site and portfolio are currently under development and should be live within the week! If you want to check
        out the development process follow along on with the GitHub project at <a href="https://github.com/coreyja/coreyja.com" target="_blank">https://github.com/coreyja/coreyja.com.</a>
        Thanks for checking out my site guys, and come back soon to see it finished really soon!
    </p>

    <p class="not-ready">Subset of Previous Projects</p>
    <ul class='projects'>
        <li><a href="http://giftovus.com" target="_blank">Giftovus</a></li>
        <li><a href="http://avgig.com" target="_blank">AVGig.com</a></li>
        <li><a href="http://theskinnyon.com" target="_blank">The Skinny On</a></li>
        <li><a href="http://profiles.wilhelminadenver.com/women/all/" target="_blank">Wilhelmina Denver Fashion Profiles</a></li>
    </ul>

    <p class="not-ready">For a web view of my resume visit <a href="/resume">coreyja.com/resume</a></p>

    <p class="not-ready">
        <span class="dark-gray">--Corey Alexander</span>
    </p>

{% endblock %}