{% extends 'base.html' %}

{% block content %}

    <p class="not-ready">
        This site and portfolio are currently under development and should be live within the week! If you want to check
        out the development process follow along on with the GitHub project at <a href="https://github.com/coreyja/coreyja.com">https://github.com/coreyja/coreyja.com.</a>
        Thanks for checking out my site guys, and come back soon to see it finished really soon!
        <br>
        <br>
        <span class="dark-gray">--Corey Alexander</span>
    </p>

{% endblock %}